/* site */
body {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: left;
}
/* center and right side of the site */
.main {
    justify-content: space-between;
}

/* left-sidebar title*/
.sidebar-brand-text {
    font-size: x-large;
}

/* left-side sidebar */
.sidebar-drawer {
    width: 20%;
    display: block;
}

/* left-side */
.sidebar-sticky {
    width: 100%;
    /* width: fit-content; */
}

/* left-side sidebar: */
.sidebar-container {
    width: 100%;
    margin: 0;
}

/* right-side sidebar: */
.toc-drawer {
    /* align-items: flex-end; */
    font-size: large;
    width: 30%;
}

/* center of the site */
.content {
    width: fit-content;
    max-width: 70%;
    overflow-wrap: anywhere;
}

/* footer, author, copyright and @  */
.left-details {
    margin: auto;
}

/*  footer, author, copyright  */
.copyright {
    font-weight: bold;
}

/*  article, table properties  */
article .align-center, article .align-default {
    margin-left: unset;
    margin-right: unset;
    text-align: left;
}
